* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
  background: url("../../media/hipsterbackground.png") fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #F5CCAB;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.31rem 10%;
  box-shadow: 0px 0px 3px 0px #000000;
}
.header-logo img {
  height: 5.31rem;
  width: auto;
  align-self: flex-start;
}
.header-logo {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-items: center;
}
.nav-Links {
  font-size: 700;
  color: white;
  text-decoration: none;
  list-style: none;
  transition: color 0.5s, font-size 0, 5;
  display: flex;
  align-items: center space-between;
  justify-items: center;
}
.navLinks a:hover {
  color: darkcyan;
  font-size: 1200;
}
.navLinks li {
  display: inline-block;
}
.navLinks a {
  font-size: 700;
  color: white;
  text-decoration: none;
}
.navItems {
  display: inline-block;
  padding: 1rem;
}
.navItems .selected {
  font-size: 1000;
  padding-bottom: 2rem white;
}

footer {
  margin-top: auto;
  width: 100%;
}

.footer {
  background-color: rgb(199, 158, 105);
  margin-top: auto;
  width: 100%;
  box-shadow: 0px 0px 3px 0px #000000;
}
.footer-div {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: 9.38rem;
  height: 6.38rem;
  display: inline-block;
}
.footer-p p {
  margin: 0.375;
}
.footer p {
  display: inline-block;
}
.footer-wrp-anchor {
  flex-direction: row;
}
.footer-anchor {
  display: inline;
}
.footer-anchor img {
  width: 3.13rem;
  height: 3.13rem;
  filter: sepia(25%);
}
.footer-anchor a {
  width: 3.13rem;
  height: 3.13rem;
}

.main-index {
  overflow-x: hidden;
}

.index-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.seccionUno {
  background: url("../../media/carton.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 48.75rem;
  box-shadow: 0px 0px 2px 0px #000000;
}
.seccionUno .textos {
  display: inline-block;
}
.seccionUnoBtn {
  width: 6.25rem;
  height: 2.5rem;
  display: flex;
  text-align: center;
  text-justify: center;
  align-self: flex-end;
  justify-self: flex-end;
}
.seccionUnoUno img {
  width: 50vw;
  height: 50vh;
}

.seccionDos {
  background: rgb(255, 236, 173);
  width: 100%;
  height: 48.75rem;
  box-shadow: 0px 0px 2px 0px #000000;
}
.seccionDosImg {
  margin-bottom: 0.5rem;
}

.seccionTres {
  background: rgb(173, 255, 237);
  width: 100%;
  height: 48.75rem;
  box-shadow: 0px 0px 2px 0px #000000;
}

.main-nosotros {
  width: 100vw;
}

.nosotrosSeccionDiv {
  width: 100%;
}
.nosotros-wrp-grid {
  display: grid;
  grid-template-columns: 52%;
  grid-template-rows: 6.9116666667% 50.8116666667% 6.9116666667% 4.4716666667% 23.9816666667%;
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow: 0px 0px 1px 0px #000000;
}
.nosotrosH1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.nosotrosImg {
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.nosotrosImg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotrosTexto1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.nosotrosImgTexto {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
}
.nosotrosH2 {
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 2;
  grid-row-end: 4;
}
.nosotrosTexto2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.nosotros-content {
  width: 100%;
}

.contacto-wrp {
  height: auto;
  padding: 12px;
  margin: 10px 250px 10px 250px;
}
.contacto-div {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1fr;
}
.contacto-div-info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline;
  width: 12.2rem;
}
.contacto-div-form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.contacto-icon {
  width: 1rem;
  height: 1rem;
}
.contacto-info {
  display: inline-block;
}
.contacto-info {
  height: 9.3rem;
  display: flex;
  flex-direction: column;
}
.contactoHr hr {
  display: none;
}
.contacto-form input {
  width: 50%;
  height: auto;
  display: flex;
  text-align: start;
  margin: 0 2px 0 2px;
}

.carousel {
  background-color: rgba(27, 27, 27, 0.5);
}
.carousel-img {
  width: 50%;
  height: 25%;
}

.productos-wrp {
  margin: 1rem;
  padding: 0.25rem;
  box-shadow: 0px 0px 1px 0px #000000;
}
.productos-wrp-anchor {
  text-decoration: none;
  color: #00a093;
}

.proyecto-wrp {
  margin: 2rem;
}
.proyecto-wrp-map {
  width: 100%;
  height: 500px;
}

/**    MEDIA QUERIES 320  **/
@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .header {
    width: 100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0;
  }
  .navItems {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    margin: 0;
  }
  .main-nosotros {
    height: auto;
  }
  .nosotrosSeccionUno {
    margin: 0px 0px 0px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nosotrosSeccionDiv {
    padding: 0;
  }
  .nosotros-wrp-grid {
    display: block;
    margin: 1rem 0.2rem 1rem 0.2rem;
    padding: 0rem;
  }
  .nosotrosH1 {
    display: flex;
    margin: 0;
    align-content: center;
    justify-content: center;
  }
  .nosotrosImg {
    size: cover;
    margin: 0;
  }
  .nosotrosImg {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 18.3rem;
  }
  .nosotrosTexto1 {
    margin: 0;
    height: 20rem;
  }
  .nosotrosImgTexto {
    margin: 0;
  }
  .nosotrosH2 {
    margin: 0;
    height: 2rem;
  }
  .nosotrosTexto2 {
    margin: 0;
  }
  /*      PAGINA    CONTACTO       */
  .main-contacto {
    height: auto;
  }
  .contacto-wrp {
    height: auto;
    margin: 5px 0 5px 0;
  }
  .contacto-div {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .contactoHr {
    display: block;
  }
  .contacto-div-info {
    display: block;
  }
  .contacto-form input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
  }
  /*      PAGINA    CONTACTO   FIN      */
  /*      PAGINA    PRODUCTOS         */
  .carousel-img {
    width: 100%;
    height: 100%;
  }
  /*      PAGINA    PRODUCTOS   FIN      */
  /* FOOTER */
  footer {
    justify-content: center;
  }
  .footer-div {
    flex-direction: column;
  }
  .footer-p {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerLogo {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerSection {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-p {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-p p {
    margin: 0px 0px 0px 0px;
  }
  .anchorRedes {
    margin: 0px 0px 0px 0px;
  }
}
/**   FIN MEDIA QUERIES 320  **/
/**    MEDIA QUERIES 768  **/
@media screen and (max-width: 768px) {
  .nosotrosSeccionUno {
    height: 58rem;
  }
  .nosotros-wrp-grid {
    height: 54rem;
  }
  .contacto-wrp {
    margin: 1rem 1.6rem 1rem 1.6rem;
  }
  .carousel-img {
    width: 80%;
    height: 80%;
  }
}
/**    FIN MEDIA QUERIES 768  **/

/*# sourceMappingURL=final_styles.css.map */
