@import "./variables";
.header {
    background: $header-color;
    display: flex;
    justify-content: center space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.31rem 10%;
    box-shadow:0px 0px 3px 0px #000000;

    &-logo img {
        height: 5.31rem;
        width: auto;
        align-self: flex-start;
    }
    &-logo {
        cursor: pointer;
    }
}