/**    MEDIA QUERIES 768  **/
@media screen and (min-width:320) and (max-width:768){ 
    .footer-logo {
        margin: 1rem;
    }
    .seccionDosImg {
        height: 450px;
    }
    .nosotrosSeccionUno {
        height: 58rem;
    }
    .nosotros-wrp-grid {
        height: 54rem;
    }
    .contacto-wrp {
        margin: 1rem 1.6rem 1rem 1.6rem;
        padding: 1rem;
    }
    .contacto-div {
        display: inline-block;
        
    }
    .carousel-img {
        width: 80%;
        height: 80%;
    }
    .productos-wrp {
        width: 762px;
        margin-left: 0.20rem;
        margin-right: 0.20rem;
    }
    .comollegar-wrp-map iframe {
        width: 732px;
        height: 600px;
        margin: 0.1rem;
    }
    .comollegar-wrp {
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .comollegar-wrp-map {
        height: auto;
        width: auto;
    }
}


/**    FIN MEDIA QUERIES 768  **/