/**    MEDIA QUERIES 320  **/

@media screen and (max-width: 320px){
    body {
        overflow-x: hidden;
    }
    .header {
        width: 100vw;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        align-items: center;
    }
    
    .navLinks {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        margin: 0;
    }

    .navItems {
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        margin: 0;
    }

    .seccionDosImg {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 260px;
    }



    .main-nosotros {
        height: 83rem;
    }

    .nosotros { 
        
        &SeccionUno { 
            margin: 0px 0px 0px 0px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            
        }

        &SeccionDiv {
            padding: 0;
        }

        &-wrp-grid {
            display: block;
            margin: 1rem 0.2rem 1rem 0.2rem;
            padding: 0rem;
    
        }

        &H1{ 
            display: flex;
            
            margin: 0;
            align-content: center;
            justify-content: center;
        }
        
        &Img{

        
            size: cover;
            margin: 0;
        }
        
        &Img {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: 18.3rem;
        
        }
        
        &Texto1 {

            margin: 0;
            height: 20rem;
            
        }
        
        &ImgTexto {
            margin: 0;
        }
        
        &H2 {
            margin: 0;
            height: 2rem;
        }
        
        &Texto2 {
            margin: 0;
        
        }
    }

    /*      PAGINA    CONTACTO       */

    .main-contacto {
        height: auto;
    }
    .contacto {
        &-wrp {
            height: auto;
            margin: 0;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        
        &-div {
            display: flex;
            flex-direction: column;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        &Hr {
            display: block
        }

        &-div-info {
            display: block;
        }

        &-form input {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 4rem;
        }
        
    }

    /*      PAGINA    CONTACTO   FIN      */

    /*      PAGINA    PRODUCTOS         */

    .carousel-img {
        width: 100%;
        height: 100%;
    }
    .productos-wrp-img--cerrado {
        height: 188px;
        width: 90vw;
        display: flex;
        justify-content: center;
    }

    .productos-wrp {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    
    /*      PAGINA    PRODUCTOS   FIN      */
    .proyecto-wrp {
        width: 304px;
        margin: 0.20rem;
        
        &-map iframe {
            width: 304px;
            height: 524px;
        }
    }



    /* FOOTER */

    footer {
        justify-content: center;
    }
    
    .footer {
        &-div {
            flex-direction: column;
        }
        &-p{
            margin: 0px 0px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &Logo {
            margin: 0px 0px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &Section {
            margin: 0px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        &-p {
            margin: 0px 0px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-p p {
            margin: 0px 0px 0px 0px;
        }
    
        }
    .anchorRedes{
        margin: 0px 0px 0px 0px;
    }
}


/**   FIN MEDIA QUERIES 320  **/