@import "./variables";
.nav {
    display: flex;
    align-items: center;
    justify-items: center;

    &-Links  {
        font-size: 700;
        color:$nav-color;
        text-decoration: none;
        list-style: none;
        transition: color 0.5s, font-size 0,5;
        display: flex;
        align-items: center space-between;
        justify-items: center;
        margin: 0;
    }
    &Links  a:hover {
        color: darkcyan; 
        font-size: 1200;
    }
    &Links li {
        display: inline-block;
        
    }
    &Links a {
        font-size: 700;
        color: $nav-color;
        text-decoration: none;
    }
    &Items {
        display: inline-block;
        padding: 1rem;
    }
    &Items .selected {
        font-size: 1000;
        padding-bottom: 2rem $nav-color;
    }
}

dl, ol, ul {
    margin: 0;
}