@import "./variables";

.main-index {
overflow-x: hidden ;


}
.index-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.seccionUno {
    background: $seccionUno-bg no-repeat;
    background-size: cover;
    width: 100%;
    height: 48.75rem;
    box-shadow:0px 0px 2px 0px #000000;

    & .textos {
        display: inline-block;
    }
    
    &Btn {
        width: 6.25rem;
        height: 2.5rem;
        display: flex;
        text-align: center;
        text-justify: center;
        align-self: flex-end;
        justify-self: flex-end;
    }
    &Uno img {
        width: 50vw; 
        height: 50vh;
    }
}

.seccionDos {
    background: $seccionDos-bg;
    width: 100%;
    height: 48.75rem;
    box-shadow:0px 0px 2px 0px #000000;

    &Img {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 500px;
    object-fit: cover;
    }
}

.seccionTres {
    background: $seccionTres-bg;
    width: 100vw;
    height: 48.75rem;
    box-shadow:0px 0px 2px 0px #000000; 
    margin: 0px;

    &-wrp {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    &-div {
        width: 50vw;
        height: 24rem;
        text-align: center;
    }
    &-div2-img {
        width: 50vw;
        height: 24rem;
        object-fit: cover;
        overflow: hidden;
    }
    &-div3-img {
        width: 50vw;
        height: 24.75rem;
        object-fit: cover;
        overflow: hidden;
    }
    &-div3-img img{
        height: 24.75rem;
    }
}
