$header-color:#c98952;
$nav-color:white;
$nav-hover:darkcyan;
$footer-color:#6e4723;
$seccionUno-bg: #eddece url("../../media/carton.png") ;
$seccionDos-bg:#eddece;
$seccionTres-bg:#eddece;

$textcontrast--header-color:#ffffff;
$textcontrast--footer-color:#ffffff;
$textcontrast--seccionUno-bg:#122131;
$textcontrast--seccionDos-bg:#122131;
$textcontrast--seccionTres-bg:#122131;