$header-color:#F5CCAB;
$nav-color:white;
$nav-hover:darkcyan;
$footer-color:rgb(199, 158, 105);
$seccionUno-bg: url("../../media/carton.png") ;
$seccionDos-bg:rgb(255, 236, 173);
$seccionTres-bg:rgb(173, 255, 237);