:root {
    font-size: 16px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**   HEADER Y NAV    **/
.header {
    background-color: #F5CCAB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img {
    height: 85px;
    width: auto;
}

.header .headerLogo {
    cursor: pointer;
}

.nav .nav-links {
    font-size: 700;
    color:white;
    text-decoration: none;
    list-style: none;
    transition: color 0.5s;

}

.nav .nav-links a:hover{
    color: darkcyan;
    transform: scale(1.2);
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a {
    font-size: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;

}


/**    HEADER Y NAV FIN    **/


/**    SECCIONES    **/
.seccionUno {
    background: rgb(255, 173, 173) url("../media/frutosSecos.png") floralwhite  left;
    width: 100%;
    height: 780px;
}

.seccionUno .textos {
    display: inline-block;
}

.seccionUno button {
    width: 100px;
    height: 40px;
}

.seccionUno img {
    width: 50vw; 
    height: 50vh;
    
}



.seccionDos {
    background-color: rgb(255, 236, 173);
    width: 100%;
    height: 780px;
}

.seccionTres {
    background-color: rgb(173, 255, 237);
    width: 100%;
    height: 780px;
}

/**    SECCIONES FIN    **/

/**    FOOTER    **/
footer {
    background-color: rgb(199, 158, 105);
}

footer img {
    width: 150px;
    height: 102px;
    margin-left: 100px;
}

footer p {
    margin-left: 88px;
    display: inline-block;
}

footer div {
    display:inline-block;
}

.anchorRedes img{
    width: 50px; 
    height: 50px;
    display:inline-block;
}

.anchorRedes a{
    width: 50px; 
    height: 50px;
    display:inline-block;
}
/**    FOOTER FIN   **/