:root {
    font-size: 16px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    background: url("../media/hipsterbackground.png") fixed;
}


/**   HEADER Y NAV    **/
.header {
    width: 100vw;
    background-color: #F5CCAB;
    display: flex;
    justify-content: center space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.31rem 10%;
}

.logo img {
    height: 5.31rem;
    width: auto;
    align-self: flex-start;
}

.logo {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-items: center;
}

.navLinks  {
    font-size: 700;
    color:white;
    text-decoration: none;
    list-style: none;
    transition: color 0.5s, font-size 0,5;
    display: flex;
    align-items: center;
    justify-items: center;

}

.navLinks  a:hover {
    color: darkcyan; 
    font-size: 1200;
}

.navLinks li {
    display: inline-block;
    padding: 0 1.25rem;
}

.navLinks a {
    font-size: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.navItems {
    display: inline-block;
}

/**    HEADER Y NAV FIN    **/


/**    SECCIONES    **/
.seccionUno {
    background:url("../media/carton.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 48.75rem;
}

.seccionUno .textos {
    display: inline-block;
}

.seccionUnoBtn {
    width: 6.25rem;
    height: 2.5rem;
    display: flex;
    text-align: center;
    text-justify: center;
    align-self: flex-end;
    justify-self: flex-end;
}

.seccionUno img {
    width: 50vw; 
    height: 50vh;
    
}


.seccionDos {
    background-color: rgb(255, 236, 173);
    width: 100%;
    height: 48.75rem;
}

.seccionDosImg {
    margin-bottom: 0.5rem;
}

.seccionTres {
    background-color: rgb(173, 255, 237);
    width: 100%;
    height: 48.75rem;
}

/**    SECCIONES FIN    **/

/** PAGINA NOSOTROS **/

.nosotrosSeccionDiv {
    display: flex;
    height: fit-content;
    width: fit-content;
}



.nosotrosSeccionDiv {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 6.911666666666667% 50.81166666666667% 6.911666666666667% 4.471666666666667% 23.98166666666667%;
}

.nosotrosH1{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

}

.nosotrosImg{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.nosotrosImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nosotrosTexto1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.nosotrosImgTexto {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 4;
}

.nosotrosH2 {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 2;
    grid-row-end: 4;
}

.nosotrosTexto2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

/** PAGINA NOSOTROS FIN **/

/**    FOOTER    **/
footer {
    background-color: rgb(199, 158, 105);
    margin-top: 200px;
}

footer img {
    width: 9.38rem;
    height: 6.38rem;
    margin-left: 6.25rem;
}

footer p {
    margin-left: 5.50rem;
    display: inline-block;
}

footer div {
    display:inline-block;
}

.anchorRedes img{
    width: 3.13rem; 
    height: 3.13rem;
    display:inline-block;
}

.anchorRedes a{
    width: 3.13rem; 
    height: 3.13rem;
    display:inline-block;
}
/**    FOOTER FIN   **/


@media screen and (max-width: 320px){
    .header {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }
    
    .navLinks {
        display: flex;
        flex-direction: column;
    }

    .nosotrosSeccionUno {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: dense; 
        justify-content: top;
        align-items: top;
        height: 110rem;
        gap: 0;
    }
    .nosotrosH1{ 
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
    }
    
    .nosotrosImg{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        height: 1000rem;
        size: cover;
        margin: 0;
    }
    
    .nosotrosImg {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    
    }
    
    .nosotrosTexto1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0;
        
    }
    
    .nosotrosImgTexto {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-column-end: 4;
        grid-row-end: 5;
        margin: 0;
        
    }
    
    .nosotrosH2 {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-column-end: 3;
        grid-row-end: 6;
        margin: 0;
        
    }
    
    .nosotrosTexto2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 0;
       
    }
}